.buttonSubmit {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 30px;

  border: none;
  font-family: "Raleway-Light";
  color: white;
  cursor: pointer;
  background: var(--linkLayout1);
  border-radius: var(--border-radius);
  &:hover {
    background: var(--linkLayout2);
  }
  &:active {
    background: var(--linkLayoutActive);
  }
}