:root{
    // themes
  --themeLayoutOne: #20232a; // #20232a
  --themeLayoutTwo: #345;    // #345

    // links
  --linkLayout1:#ff6600; // #d35400
  --linkLayout2:#1d89e9;  //#4887be
  --linkLayout3: #02acdc;
  --active-link: rgb(2, 172, 220);
  --linkLayoutActive: red;
  --SIZE_WINDOW_DROP_DOWN_BURGER_MENU: 719; // размер окна для drop-down burger menu
  --border-radius: 3px;

  // ширина бургер меню, от которого зависит анимация всей страницы
  // эти 2 переменные ДОЛЖНЫ иметь: одинаковый, противоположный вес
  --minWidthBurger: 300px;  // бургер
  --pageMove: -300px;       // страница

  --burgerButtonHeight: 20px;

  --navTopMenu: #20232a;  // #373a47

  // delay для drop-down burger menu
  --delayBurgerMenu: 0.5s;
}
