# dependencies
/node_modules

# next
.next
next-env.d.ts
.swc

# local env files
.env.local

# test rest API
.test.rest

# db client
Pg_Local.session.sql

# other

# ts
tsconfig.tsbuildinfo

# public
# /public/uploads/*.*
# /public/assets/uploads/*.*
