.footer {
}
// card footer
.card {
  padding: 5em 0;
  background: var(--themeLayoutOne);
  color: white;
}

.links {
  padding: 5em 0;
  background: var(--themeLayoutTwo);
}

.copyright {
  padding: 5em 0;
  background: var(--themeLayoutOne);
  color: white;
}
