.navbarWrap {
  padding: 2em 0;
  background: var(--themeLayoutOne);
}

.nav {
  display: inline-block;
  
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }
}

.link {
  text-decoration: none;
  font-family: "Roboto-Regular";
  color: white;
}