.navbarWrap {
  padding: 2em 0;
  background: var(--themeLayoutOne);
}

// nav basic
.nav {
  display: inline-block;
  
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }
  &__link {
    text-decoration: none;
    font-family: "Roboto-Regular";
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

// button - burger menu
.burger {
  position: relative;
  display: none;

  padding: 0;
  margin: 0;
  width: 30px;
  height: var(--burgerButtonHeight);
  border: none;

  z-index: 1001;
  background: transparent;
  cursor: pointer;
  
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    height: 2px;
    width: 100%;

    background: white;
    transition: all 0.8s ease 0s;
  }
  &::before,&::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.8s ease 0s;
  }
  &::before {
    top: 0;
  } 
  &::after {
    bottom: 0;
  }

}
 // animation burger button
.burgerActive {
  position: fixed;
  bottom: 20px;
}

.burgerActive .burger__line {
  opacity: 0;
}

.burgerActive::before,.burgerActive::after {
  background: red;
} 

.burgerActive::before {
  top: 50%;
  transform: rotate(45deg);
}

.burgerActive::after {
  top: 50%;
  transform: rotate(-45deg);
}


@media (max-width: 719px) {

  .burger {
    display: block;
  }
  .reverseWrap {
    display: flex;
    justify-content: flex-end;
    min-height: var(--burgerButtonHeight);
    transition: all 0.5s ease 0s;
  }
  
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);

    // width: 50%;
    width: var(--minWidthBurger);
    height: 100vh;

    overflow-y: scroll;
    background: var(--navTopMenu);
    transition: all var(--delayBurgerMenu) ease 0s;
    
    &__list {
      box-sizing: content-box;
      flex-direction: column;
      align-items: flex-start;
      
      margin-top: 83px;
      padding: 30px 30px 30px 30px;
    }
    &__item {
      margin-right: 0;
      margin-bottom: 1.5em;
    }
    &__link {
      font-size: 24px;
    }
  }
  .navActive {
    transform: none;
  }
}
// max-width: var(--minWidthBurger)
@media (max-width: 300px) {
  .nav {
    z-index: 1201;
    width: 150px;
  }
  .burger {
    z-index: 1202;
  }
}