@font-face {
  font-family: "Roboto-Light";
  src: url("../../public/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../public/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../../public/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../../public/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../public/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf");
}