@import "../lib/normalize.css";
@import "./var.scss";


body {
  overflow-x: auto;
}
.stopScroll {
  overflow: hidden;
  position: fixed;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  min-height: 700px; // dev
  height: 100%;
  padding: 3em 2em;
  text-align: center;
  overflow: auto;
  transition: all 0.5s ease 0s;
}

// acitv link - NavLink
#activeLink {
  color: rgb(2, 172, 220);
  pointer-events: none;
}








@import "./fonts.scss";