:root{
    // themes
  --themeLayoutOne: #20232a; // #20232a
  --themeLayoutTwo: #345;    // #345

    // links
  --linkLayout:#d35400;
  --linkLayoutHover:#59aaf0;
  --linkLayoutActive: red;

  // ширина бургер меню, от которого зависит анимация всей страницы
  // эти 2 переменные ДОЛЖНЫ иметь: одинаковый, противоположный вес
  --minWidthBurger: 300px;  // бургер
  --pageMove: -300px;       // страница

  --navTopMenu: #20232a;  // #373a47
}