.inputLabel {
  display: inline-block;
  width: 80px;

  font-family: "Raleway-Light";
  font-size: 120%;
  font-weight: 600;
}

@media(max-width: 300px) {
  .inputLabel { 
    margin-top: 10px;
  }
}