
.wrapp {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 42px;
  font-family: "Montserrat-Light";
  line-height: 1.5em;
}
.exit_account {
  background: var(--themeLayoutOne);
}
.delete_account {
  background: rgb(206, 11, 11);
}
.back {
  background: var(--themeLayoutOne);
}