
.wrapp {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 42px;
  font-family: "Montserrat-Light";
  line-height: 1.5em;
}

.delete_account {
  background: red;
}
.back {
  background: green;
}
