.mainTransform {
  transform: translate3d(var(--pageMove), 0px, 0px);
  transition: all var(--delayBurgerMenu) ease 0s;
  z-index: 1200;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
}

// max-width: var(--minWidthBurger)
@media (max-width: 300px) {
  .mainTransform {
    transform: translate3d(-150px, 0px, 0px);
    transition: all var(--delayBurgerMenu) ease 0s;
    z-index: 1200;
    position: relative;
  }
}