.wrapLinks {
  padding: 5em 0;
  background: var(--themeLayoutTwo);
}

// navbar bot
.nav {

  display: inline-block;
  padding: 0 15px;
  font-size: 1.1em;
  &__list {
    display: block;
    list-style-type: square;
  }
  &__item {
    &:not(:first-child) {
      padding-top: 1rem;
    }
  }
  &__link {
    color: var(--linkLayout1);
    font-family: "Raleway-Light";
    text-decoration: none;
    &:active {
      color: var(--linkLayoutActive);
    }
    &:hover {
      color: var(--linkLayout2);
      text-decoration: underline;
    }
  }
}

.title {
  font-size: 160%;
  font-family: "Raleway-Light";
  color: white;
}