.input {
  box-sizing: border-box;
  font-family: "Raleway-Light";

  width: 70%;
  font-size: 120%;
  padding: 8px;
  outline: none;
  border: 2px solid #bfbfbf;
  border-radius: var(--border-radius);
  &:hover,
  &:focus {
      border: 2px solid green;
  } 
}

@media(max-width: 300px) {
  .input {
    margin-top: 20px;
  }
}