.card {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px #ccc;
  border-radius: var(--border-radius);
  &__image {
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 100%;
    border-radius: var(--border-radius);
  }
  &__text {
    min-height: 60px;
    overflow: hidden;
  }
  &__link {
    font-size: 120%;
    color: var(--linkLayout1);
  }
  &__link_category {
    font-size: 100%;
  }

}

.card__bar {
  font-size: 100%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #eee;
  white-space: nowrap;
  overflow: hidden;
  &_comment {
    border-right: 1px solid #eee;
    padding-right: 4px;
    margin-right: 4px;
  }
  &_category {
    border-right: 1px solid #eee;
    padding-right: 4px;
    margin-right: 4px;
  }
  &_date {
    border-right: 1px solid #eee;
    padding-right: 4px;
    margin-right: 4px;
  }
}

.image {
  object-fit: fill;
}
