.link {
  color: #ffffff;
  font-family: "Raleway-Light";
  text-decoration: none;

  &:active {
    color: var(--linkLayoutActive);
  }
  &:hover {
    color: var(--linkLayout3);
    text-decoration: underline;
  }
}