.row {
  position: relative;
  display: flex;
  flex-basis: 50%;
  border-radius: var(--border-radius);
  font-family: inherit;
  letter-spacing: 0.08em;
  font-family: "Raleway-Light";
  margin: 5px 0;
  color: white;
} 

.cell {
  flex: 1;
  padding: 20px;
  
  &--heading {
    font-family: "Raleway-Light";
    font-weight: 600;
  }
}

.row--color_first {
  background: var(--linkLayout2);
}

.row--color_second {
  background: var(--linkLayout3);
}

@media(max-width: 550px) {
  .row {
    flex-direction: column;
  }
}