.wrappTable {
  margin-bottom: 100px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.title {
  margin: 0;
}
.imgTD {
  min-width: 242px;
  overflow: auto;
}
.AreaLable {
  display: block;
  margin: 15px 0;
}
.tr {
  background: #b5b2b224;
  text-align: center;
}



.buttonAddPost {
  margin: 0;
  background: var(--themeLayoutOne);
}

.td {
  padding: 15px 20px;
  border-collapse: collapse;
}

.th {
  padding: 8px 20px;
}
.text {
  min-width: 400px;
  overflow: auto;
}

.button {
  background: transparent;
  border: none;
  color: black;
  margin: 0;
  padding: 15px 20px;

  &:hover,&:active,&:focus {
    background: transparent;
    box-shadow: none;
  }
  &:hover::first-letter {
    color: blue;
  }

  &_delete{
    &:active {
      color: red;
    }
  }
  &_change{
    &:active {
      color: green;
    }
  }
}

.newFormButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.modal__delete_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media(max-width: 1400px) {
  .main {
    display: block;
  }
}

@media(max-width: 500px) {
  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
  }
}
