.wrapp {
  padding-bottom: 40px;
}

.title {
  font-family: "Montserrat-Light";
  font-size: 160%;
  letter-spacing: 0.08em;
}
.cardBlog {
  padding: 0 10px;

  &__link {
    text-decoration: none;
    color: var(--linkLayout2);
    &:hover {
      color: var(--linkLayout1);
      text-decoration: underline;
    }
    &:active {
      color: var(--linkLayoutActive);
    }
  }
  &__imgContainer {
    
  }
  &__img {
    max-width: 100%;
    padding: 0 10px 10px 0;
    margin: 10px 10px 0 0;

    object-fit: cover;
  }
  &__text {
    margin: 10px 0px 15px 0px;
    font-family: "Raleway-Light";
    font-size: 120%;
    line-height: 1.5;
    text-align: justify;
  }
}

.img_float {
  float: left;
}

@media (max-width: 1050px) {
  .cardBlog {
    &__img {
      width: 100%;
    }
  }
}