.nav {
  font-size: 20px;
  padding-bottom: 40px;
  &__list {
    list-style-type: disc;
    padding-left: 20px;
  }
  &__item {
    padding-top: 20px;
  }
  &__link {
    text-decoration: none;
    font-family: "Roboto-Regular";
    color: var(--linkLayout);
    &:hover {
      color: var(--linkLayoutHover);
      text-decoration: underline;
    }
    &:active {
      color: var(--linkLayoutActive);
    }
  }
}