.dashboard {

  padding: 20px;
  border-bottom: 1px solid #000;

  background: #a3421210;
  font-size: 24px;
  &__item {
    &:not(:first-child) {
      padding-left: 20px;
    }
    padding-right: 20px;
    border-right: 1px solid #000; 
  }

  &__link {
    color: var(--linkLayout);
    font-family: "Raleway-Light";
    text-decoration: none;
  
    &:active {
      color: var(--linkLayoutActive);
    }
    &:hover {
      color: var(--linkLayoutHover);
      text-decoration: underline;
    }
  }
}

@media (max-width: 1050px ) {
  .dashboard {
    font-size: 20px;
  }
}

@media (max-width: 940px ) {
  .dashboard {
    font-size: 18px;
  }
}

@media (max-width: 680px ) {
  .dashboard {
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      height: 200px;
      border: none;
      &__item {
        padding: 10px 0;
        border: none;
        
        &:not(:first-child) {
          padding-left: 0; 
        }
      }
    
      &__link { 
        
      }
  }
}

// @media (max-width: 385px ) {